@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');

.logo{
    padding-top: 10px;
    width: 150px;
    border-radius: 0px;
    margin-left:35% ;
    margin-right: 35%;
}

.title-eventcheck-1 {
	font-family: 'Audiowide';
	font-size: 80px;
	padding-top: 10px;
	color: #25252500;
	display: flex;
	justify-content: center;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color:#9b1414;
}

.username {
	font-size: 30px;
	font-family: 'Comic Sans MS';
  	display: flex;
  	justify-content: center;
  	color: #9b1414;
  }
.btn-aboutus-1{
    border-radius: 20px;
	padding: 10px 20px;
	border: 2px solid #000;
	background-color: #fff; 
	color: #000; 
	font-size: 16px;
	text-align: center;
	display: inline-block;
	font-family: 'Poppins';
	-webkit-box-shadow: 0px 0px 274px 73px #9b1414;
	-moz-box-shadow: 0px 0px 274px 73px #9b1414;
	box-shadow: 0px 0px 274px 73px #9b1414;
}
.btn-signout-1{
    border-radius: 20px;
	padding: 10px 20px;
	border: 2px solid #000;
	background-color: #fff; 
	color: #000; 
	font-size: 16px;
	text-align: center;
	display: inline-block;
	font-family: 'Poppins';
	-webkit-box-shadow: 0px 0px 274px 73px #9b1414;
	-moz-box-shadow: 0px 0px 274px 73px #9b1414;
	box-shadow: 0px 0px 274px 73px #9b1414;
}

.red-button {
	background-color: #9b1414;
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	font-size: 20px;
	padding: 15px 30px;
	border-radius: 100px;
	outline: none;
	position: relative;
	overflow: hidden;
	font-family: 'Kanit';
}

